.entdecke {

    margin-bottom: 100px;

    .header {
        font-size: 19px;
        margin-top: 100px;
        margin-bottom: 50px;
        padding-top: 0px;
        padding-bottom: 20px;
        font-family: Yantramanav;
        font-weight: bold;
        display: flex;
        justify-content: center;
    }

    .categories {
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
    }

    .link {
        text-decoration: none;
        font-size: 43px;
        font-family: MinervaModernW00-Regular;
        color: black;
        padding: 10px;
    }
}

@media only screen and (max-width: 800px) {
    .entdecke {
        .header {
            font-size: 15px;
            margin: 0px;
            margin-top: 10px;
            padding: 0px;
        }

        .link {
            font-size: 18px;
            padding: 20px;
            font-weight: bolder;
        }

        .link:active {
            text-decoration: underline;
        }
    }

}