.biology {
    width: 100%;
    background-color: #7F0057;
    padding-top: 20px;
    height: max-content;
    display: flex;
    box-sizing: border-box;
    margin-top: 100px;

    .content {
        background-image: url(./../img/50.png);
        background-repeat: no-repeat;
        background-size: contain;
        padding-top: 20px;
        margin-left: 20px;
        aspect-ratio: 13/9;
        width: 70%;
        margin-top: 100px;
        padding-left: 20%;


        .header {
            display: flex;
            justify-content: flex-start;
            font-size: 119px;
            font-family: MinervaModernW00-Regular;
            color: white;
            text-overflow: ellipsis;
            white-space: break-spaces;
            overflow-wrap: break-word;
            max-height: 1em;
            overflow: hidden;

        }

        .event {
            display: flex;
            justify-content: flex-end;
            font-size: 89px;
            font-family: Yantramanav;
            font-weight: lighter;
            color: rgb(255, 255, 255);
            text-overflow: ellipsis;
            white-space: break-spaces;
            overflow-wrap: break-word;
            max-height: 1em;
            overflow: hidden;
            justify-content: flex-start;
            padding-left: 50px;

        }

        .info {
            padding-bottom: 50px;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: center;
            padding-top: 100px;



            .kolberg-selfie {
                width: 50%;
                aspect-ratio: 1.4/1;

            }

            .about {

                width: 50%;
                display: flex;
                padding-left: 10%;
                padding-right: 10%;
                flex-wrap: wrap;
                justify-content: flex-start;




                .description {
                    font-family: Yantramanav;
                    font-size: 19px;
                    word-wrap: break-word;
                    text-overflow: ellipsis;
                    max-height: 5em;
                    overflow: hidden;
                    color: white;
                }

                .biology-button {
                    font-family: Yantramanav;
                    font-size: 19px;
                    border: none;
                    background-color: #500137;
                    padding: 10px 20px 10px;
                    margin-top: 50px;
                    color: white;

                }

            }
        }

    }

    .age-icon {
        padding-left: 100px;
        height: max-content;
    }
}

@media only screen and (max-width: 1600px) {

    .biology {
        justify-content: center;
        flex-wrap: wrap;

        .age-icon {
            order: 1;
        }

        .content {
            order: 2;
        }
    }


}

@media only screen and (max-width: 800px) {
    .biology {
        .age-icon {
            padding: 0px;
        }

        .content {
            justify-content: flex-start;
            padding: 15px;
            margin-left: 0px;
            width: 100%;
            margin-top: 50px;

            .header {
                font-size: 41px;
            }

            .event {
                font-size: 25px;
            }

            .info {
                flex-direction: column;

                .kolberg-selfie {
                    aspect-ratio: 3/4;

                    width: 100%;
                }

                .about {
                    width: 100%;
                    padding: 0px;
                    padding-top: 20px;

                    .description {
                        font-size: 15px;
                    }

                    .biology-button {
                        width: 100%;
                        margin-top: 20px;
                    }
                }
            }
        }

    }
}