.social-media {

    width: 100%;

    .underline {
        text-align: center;
        font-size: 19px;
        font-family: Yantramanav;
        padding: 50px;
    }

    .header {
        font-size: 43px;
        font-family: MinervaModernW00-Regular;
        text-align: center;
        padding-bottom: 50px;
    }

    .photos {
        box-sizing: border-box;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 50px;

        .img {
            width: 20%;
            padding: 5px;
        }
    }

    .accounts {
        width: 100%;
        display: flex;
        justify-content: center;

        .icon {
            padding: 10px;
        }
    }

    .fiollow-us {
        font-size: 19px;
        font-family: Yantramanav;
        text-align: center;
        padding: 20px;
    }

}

@media only screen and (max-width: 800px) {
    .social-media {
        .underline {
            font-size: 15px;
        }

        .header {
            font-size: 18px;
        }

        .photos {
            width: 100%;
            padding: 15px;
            flex-wrap: wrap;
            height: 300px;
            overflow: hidden;
            margin-bottom: 50px;
            justify-content: center;


            .img {
                width: 150px;
            }
        }
    }
}